body{
    background-color: white;
    width: 100%;
    height: 100%;
}
header{padding:1em}
header>h1{
    font-family: 'Didot', serif;
    font-size: 2em;
}
#content{
    //height: inherit;
    padding: 1em;
    text-align: center;
}
#content form{
    flex: auto
}
#content form input{
    //flex-direction: column;
    flex-shrink: 1; 
}
#content .vert_form input{
    width: 36em;
}
/*#content .vert_form input:nth-child(4){
    width: 30em;
}*/
footer{
    height: 100px;
    color: slategray;
    background-color: black;
    padding: 1em;
}

/*-----CLASSES-----*/

.vert_form{
    display: block;
}
.vert_form input{
    display: block;
    margin-bottom: .5em;
    padding: .5em;
}
